{# src/Cinema/CinemaBundle/Resources/views/Page/about.html.twig #}
{% extends 'CinemaCinemaBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About SymCinema</h1>
    </header>
    <article>
        <p>
        De bedoeling was het aanmaken van een webshop dat dient als kassa voor een cinema (met 3 zalen).
        Deze site moet dus de mogelijkheid hebben om:
        <ul>
        <li>- een filmprogramma aan te maken</li>
        <li>- ticketjes te bestellen voor een film naar keuze</li>
        <li>- extra's te kopen (eten, drinken, cheques, ...)</li>
        </ul>
        <br>Dit alles door gebruik te maken van Symfony, PHP, Twig.</p>
        
        Aanleiding hiervan is om te oefenen in het gebruik van Symfony en om een bestaand voorbeeld aan te passen.
        
        
        
        </p>
    </article>
{% endblock %}